body {
    font-family: sans-serif;
    background-size: 300% 300%;
  background-image: linear-gradient(-45deg, blue 0%, rgb(125, 90, 207) 25%, rgb(220, 197, 227) 51%, #e76494 100%);
  -webkit-animation: AnimateBG 20s ease infinite;
          animation: AnimateBG 20s ease infinite;
}

a:hover{
  box-shadow: 5px 2px 2px 2px peachpuff;
}

li{
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ol{
  text-align: center;
}

h1:hover {
  color: #bc708c;
}

p:hover {
  color: #9918aa;
}


header {
  text-align: center;
  margin: 0 auto;
}

.link-header:hover{
  color:#fff;
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

    

div{
    text-align: center;
    margin: 0 auto;
}


 h1 {
  font-size: 70px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  color: #b393d3;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #7dad9f,
               1px 2px 0px #957dad,
               1px 3px 0px #957dad,
               1px 4px 0px #957dad,
               1px 5px 0px #957dad,
               1px 6px 0px #957dad,
               1px 10px 5px rgba(16, 16, 16, 0.5),
               1px 15px 10px rgba(16, 16, 16, 0.4),
               1px 20px 30px rgba(16, 16, 16, 0.3),
               1px 25px 50px rgba(16, 16, 16, 0.2);
    display: flex;
    justify-content: center;
    text-align: center;
}
nav {
  text-align: center;
  margin: 0 auto;
}

.link-nav:hover{
  color:#fff;
}

p{ 
  font-size: 26px;
  text-align: center;
}

.footer{
background: linear-gradient(to top, rgb(69, 5, 78, 1) 30%, rgba(0,0,0,0));
padding:30px 0px;
font-family: 'Play', sans-serif;
text-align:center;
size: 100px;
}


.footer .row{
width:100%;
margin:1% 0%;
padding:0.6% 0%;
color:gray;
font-size:0.8em;
}


.footer .row a{
text-decoration:none;
color:gray;
transition:0.5s;
}


.footer .row a:hover{
color:#fff;
}


.footer .row ul{
width:100%;
}


.footer .row ul li{
display:inline-block;
margin:0px 30px;
}


.footer .row a i{
font-size:2em;
margin:0% 1%;
}


@media (max-width:720px) {
.footer{
text-align:left;
padding:5%;
}
.footer .row ul li{
display:block;
margin:10px 0px;
text-align:left;
}
.footer .row a i{
margin:0% 3%;
}


